<nb-card size="medium">
  <nb-card-body>
    <div class="location">
      <span>Temp. Externa</span>
    </div>
    <div class="date">
      <span>QUI 11 JAN</span>
    </div>
    <div class="daily-forecast">
      <div class="info">
        <div class="temperature">
          <span>35&deg;</span>
        </div>
        <div class="icon">
          <i class="ion-ios-sunny-outline"></i>
        </div>
      </div>
      <div class="details">
        <div class="parameter">
          <span class="parameter-name">max</span>
          <span class="parameter-value">38&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">min</span>
          <span class="parameter-value">29&deg;</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">Vento</span>
          <span class="parameter-value">21 km/h</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">Umi</span>
          <span class="parameter-value">67%</span>
        </div>
      </div>
    </div>
    <div class="weekly-forecast">
      <div class="day">
        <span class="caption">SEX</span>
        <i class="ion-ios-cloudy-outline"></i>
        <span class="temperature">17&deg;</span>
      </div>
      <div class="day">
        <span class="caption">SAB</span>
        <i class="ion-ios-sunny-outline"></i>
        <span class="temperature">19&deg;</span>
      </div>
      <div class="day">
        <span class="caption">DOM</span>
        <i class="ion-ios-rainy-outline"></i>
        <span class="temperature">22&deg;</span>
      </div>
      <div class="day">
        <span class="caption">SEG</span>
        <i class="ion-ios-partlysunny-outline"></i>
        <span class="temperature">21&deg;</span>
      </div>
      <div class="day">
          <span class="caption">TER</span>
          <i class="ion-ios-partlysunny-outline"></i>
          <span class="temperature">21&deg;</span>
        </div>
        <div class="day">
            <span class="caption">QUA</span>
            <i class="ion-ios-partlysunny-outline"></i>
            <span class="temperature">21&deg;</span>
          </div>
    </div>
  </nb-card-body>
</nb-card>
